.container {
  background-color: rgba(2, 48, 71, 0.6);
  width: 100vw;
  height: 100vh;
  display: flex;
}

.side_bar {

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.overlap {
  width: 15%;
  height: 100vh;
  background-color: #023047;
}

.side_bar_contain {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 90%;
  gap: 15px;

}

.link_contain {
  padding: 10px;
  background-image: linear-gradient(rgba(255, 204, 2, 1), #ff9101);
  border-radius: 8px 0px 0px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  color: inherit;
  text-decoration: none;
}


.left_contain {
  width: 85%;
  height: 100%;
}

.header {
  background-color: rgba(2, 48, 71, 0.9);
  width: 100%;
  height: 9.5%;
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}

.left_body {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_body_container {
  width: 100%;
  height: 90%
}

.left_body_card_container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 15px;
  overflow-y: scroll;
}

.card_container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  background-color: #f0f0f0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20;
}

.preview {
  width: 50%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
}



.preview_container {
  width: 90%;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
}

.options {
  list-style-type: none;
  padding: 0;
}

.option {
  font-size: 18px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  display: flex;
  gap: 10px
}

.option:hover {
  background-color: #f5f5f5;
}

.action {
  display: flex;
  gap: 15px;
}

.action span {
  padding: 5px;
  display: flex;
  border: 1px solid grey;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 425px) {
  .left_contain {
    width: 100%;
    height: 90%;
  }

  .left_body_card_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    overflow-y: visible;
  }

  .card_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .preview {
    display: none;
  }

  .left_body_container {
    width: 100%;
    height: 90%
  }

  .left_contain {
    width: 100%;
    height: 100%;
  }

  .side_bar {
    background-color: #023047;
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .overlap {
    right: 0px;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(29, 26, 26, 0.6);
    transition: ease-in-out 0.7s;
  }

  .overlapNone {
    right: 450px;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(29, 26, 26, 0.6);
  }
}