.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 523px;
  background-color: #f6f5f6;
  border-radius: 5px;
  margin-top: 90px;
  overflow: hidden;
}

.card-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  align-self: flex-end;
  width: 245px;
  border-radius: 5px;
}

.card-contain {
  margin-top: -130px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.image-contain {
  width: 220px;
  height: 220px;
  background-color: rgba(255, 211, 193, 40%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  overflow: hidden;
  border: 1px solid rgba(255, 204, 2, 1);
  margin-top: 35px;
}
.image-contain img {
  position: relative;
  top: 20px;
  width: 100%;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  color: rgba(37, 36, 34, 1);
}
p {
  font-size: 16px;
  font-weight: 500;
  color: #8B8B8B;
}
h5 {
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 145, 1, 1);
}

.socials {
  margin-left: 20px;
  margin-top: 30px;
  width: 60%;
}
.socials span {
  display: flex;
  align-items: center;
  gap: 9px;
}

.socials p {
  line-height: 30px;
  color: #023047;
}

@media screen and (max-width: 425px) {
  .card {
    width: 100%;
    height: 500px;
    background-color: #f6f5f6;
    border-radius: 5px;
    margin-top: 70px;
    overflow: hidden;
  }
  .card-contain {
    margin-top: -78px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .circle {
    align-self: left;
    width: 200px;
    border-radius: 5px;
  }

  .image-contain {
    width: 160px;
    height: 160px;
    margin-top: 20px;
  }

  .socials {
    position: relative;
    top: 25px;
    left: 5px;
  }
}
